API_DEBUG=
SECRET_KEY=
LOG_LEVEL=

#Vault configuration
SUPABASE_VAULT_ENABLED=
VAULT_KEYS=

# Supabase configuration
SUPABASE_URL=
SUPABASE_SECRET_KEY=

SUPABASE_REST_API=

SUPABASE_HOST=
SUPABASE_USER=
SUPABASE_PASSWORD=
SUPABASE_PORT=
SUPABASE_DB_NAME=

QUEUE_POLLING_INTERVAL_SECONDS=
DB_MIN_CONNECTIONS=
DB_MAX_CONNECTIONS=



TOGETHER_API_KEY=
COHERE_API_KEY=

LOG_DIR=app/logs/

CORS_ORIGINS=
# Server settings
HOST=0.0.0.0
PORT=9002
VERSION=
